/* From http://www.redblobgames.com/making-of/line-drawing/
 * Copyright @YEAR@ Red Blob Games <redblobgames@gmail.com>
 * CSS for the "exploded view" of the layers in a diagram
 */

.layer {
    transition: transform 2s;
    transform: none;
}
.rotated .layer-0 { transform: translateY(190px) rotateX(60deg) rotateZ(-30deg) scale(0.9); }
.rotated .layer-1 { transform: translateY(170px) rotateX(60deg) rotateZ(-30deg) scale(0.9); }
.rotated .layer-2 { transform: translateY(150px) rotateX(60deg) rotateZ(-30deg) scale(0.9); }
.rotated .layer-3 { transform: translateY(130px) rotateX(60deg) rotateZ(-30deg) scale(0.9); }
.rotated .layer-4 { transform: translateY(110px) rotateX(60deg) rotateZ(-30deg) scale(0.9); }
.rotated .layer-5 { transform: translateY( 90px) rotateX(60deg) rotateZ(-30deg) scale(0.9); }

/* Each layer will have a "glass" <rect> underneath its contents */
.layer .glass {
    pointer-events: none;
    transition: opacity 2s;
    opacity: 0.0;
    fill: hsl(120,10%,90%);
    fill-opacity: 0.3;
    stroke: hsl(120,50%,10%);
    stroke-opacity: 0.7;
    stroke-width: 2px;
    /* I'm assuming all my SVGs are this size */
    width: 550px;
    height: 220px;
}
.rotated .layer .glass {
    opacity: 1.0;
}
