/* generic page formatting; the css specific to line drawing will be in each section */
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
html {
    background-color: hsl(60,10%,95%);
    color: hsl(60,0%,0%);
    font-family: sans-serif;
    font-size: 14px;
}
body > div, body > p, h1, h2 {
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
header, footer {
    background-color: hsl(60,20%,80%);
    padding: 0.5em;
}
footer {
    min-height: 3em;
    text-align: center;
}
svg {
    overflow: visible;
}

/* the draggable elements all have data-name= ; I want them to stand out */
span[data-name] {
    cursor: col-resize;
    font-weight: bold;
    border-bottom: 2px dotted #a44;
}
.draggable {
    cursor: move;
}
